# folders with large files or symlinks
/example_data
/output
/templates
/warps
/warps_org
/warped_templates
/images/original

# checkpoints
notebooks/.ipynb_checkpoints

# nifti files in notebooks folder
notebooks/*nii.gz

# temporary warps in notebooks folder
notebooks/*GenericAffine.mat
