# folders with large files or symlinks
example_data
output
templates
warps
warped_templates

# nifti files in notebooks folder
notebooks/*nii.gz

# temporary warps in notebooks folder
notebooks/*GenericAffine.mat
